/* Resetting margin, padding, and font for all elements */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

/* Flex Container */
.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 10px;
    padding: 25px;
}

/* Header Container */
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

/* Logo Container */
.logo-container {
    display: flex;
    align-items: center;
    margin: 15px;
}

/* UPLB Logo */
.uplb-logo {
    width: 150px; 
    height: auto; 
}

/* Profile Picture */
.pfp {
    width: 150px; 
    height: auto; 
}

/* UPLB Gate Image */
.uplb-gate {
    max-width: 100%;
    height: auto;
}

/* Featured Photo Container */
.featured-photo-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    align-items: center;
    margin: 20px 20px;
}

/* Projects Images */
.projects {
    max-width: 100%;
}

/* Center-aligning headings and paragraphs */
h1, p, h3 {
    text-align: center;
    margin: 10px 0;
}

/* Unordered list */
ul {
    display: flex;
    flex-direction: column;
    justify-content: en;
    margin: auto 25%;
}

/* Autobiography Paragraph */
.autobiography {
    height: 100%;
    display: flex;
    margin: 10px 25px;
    text-align: left;
}

/* Footer Contents */
.footer-contents {
    text-align: left;
    margin-left: 25px;
}

/* Footer Container */
.footer-container{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f0f0f0;
}

/* Profile Container */
.profile-container {
    display: flex;
    align-items: center;
    margin: 25px;
}
